<%- include('../partials/header') %>


<h1><%= skill.skill %></h1>
  
<h3>Can do? <%= skill.canDo ? 'yes' : 'no' %></h3> <br>
<ul>
    <li>
        <button><a href="/skills/<%= skill.id %>/edit">Edit Skill</a></button>
    </li>
<br>
    <li>
        <form 
            action="/skills/<%= skill.id %>?_method=DELETE" 
            method="POST"
            class="delete-form"
        >
            <button type="submit"> Delete Skill </button>
        </form>
    </li>    
</ul>


<%- include('../partials/footer') %>